{% extends 'Front/base.html.twig' %}
{% block title %}ECOM-Agensic|Makerplace{% endblock %}
{% block sub_tilte %}
{% endblock %}
{% block body %}
    <!-- Slider Area -->
    <section class="hero-slider">
        <!-- Single Slider -->
        {#<div class="home-slider">#}
        <div class="single-slider">
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-lg-9 offset-lg-3 col-12">
                        <div class="text-inner">
                            <div class="row">
                                <div class="col-lg-7 col-12">
                                    <div class="hero-text">
                                        <h1><span>UP TO 50% OFF </span>Shirt For Man</h1>
                                        <p>Maboriosam in a nesciung eget magnae <br> dapibus disting tloctio in the find it pereri <br> odiy maboriosm.</p>
                                        <div class="button">
                                            <a href="#" class="btn">Shop Now!</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Single Slider -->
    </section>
    <!--/ End Slider Area -->

    <!-- Start Small Banner  -->
    <section class="small-banner section">
        <div class="container-fluid">
            <div class="row">
                <!-- Single Banner  -->
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="single-banner">
                        <img src="{{ asset('assets/images/mini-banner1.jpg') }}" alt="#">
                        <div class="content">
                            <p>Man's Collectons</p>
                            <h3>Summer travel <br> collection</h3>
                            <a href="#">Discover Now</a>
                        </div>
                    </div>
                </div>
                <!-- /End Single Banner  -->
                <!-- Single Banner  -->
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="single-banner">
                        <img src="{{ asset('assets/images/mini-banner2.jpg') }}" alt="#">
                        <div class="content">
                            <p>Bag Collectons</p>
                            <h3>Awesome Bag <br> 2020</h3>
                            <a href="#">Shop Now</a>
                        </div>
                    </div>
                </div>
                <!-- /End Single Banner  -->
                <!-- Single Banner  -->
                <div class="col-lg-4 col-12">
                    <div class="single-banner tab-height">
                        <img src="{{ asset('assets/images/mini-banner11.jpg') }}" alt="#">
                        <div class="content">
                            <p>Flash Sale</p>
                            <h3>Mid Season <br> Up to <span>40%</span> Off</h3>
                            <a href="#">Discover Now</a>
                        </div>
                    </div>
                </div>
                <!-- /End Single Banner  -->
            </div>
        </div>
    </section>
    <!-- End Small Banner -->

    <!-- Start Product Area -->
    <div class="product-area section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h2>Categories products</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {{ render(controller('App\\Controller\\Front\\DefaultController::categoryproducts')) }}
            </div>
        </div>
    </div>
    <!-- End Product Area -->

    <!-- Start Midium Banner  -->
    <section class="midium-banner">
        <div class="container">
            <div class="row">
                <!-- Single Banner  -->
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="single-banner">
                        <img src="{{ asset('assets/images/mini-banner11.jpg') }}" alt="#">
                        <div class="content">
                            <p>Man's Collectons</p>
                            <h3>Man's items <br>Up to<span> 50%</span></h3>
                            <a href="#">Shop Now</a>
                        </div>
                    </div>
                </div>
                <!-- /End Single Banner  -->
                <!-- Single Banner  -->
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="single-banner">
                        <img src="https://via.placeholder.com/600x370" alt="#">
                        <div class="content">
                            <p>shoes women</p>
                            <h3>mid season <br> up to <span>70%</span></h3>
                            <a href="#" class="btn">Shop Now</a>
                        </div>
                    </div>
                </div>
                <!-- /End Single Banner  -->
            </div>
        </div>
    </section>
    <!-- End Midium Banner -->

    <!-- Start Most Popular -->
    <div class="product-area most-popular section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h2>Popular products</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="owl-carousel popular-slider">
                        {{ render(controller('App\\Controller\\Front\\DefaultController::popularproduct')) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Most Popular Area -->

    <section class="section free-version-banner">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-8 offset-md-2 col-xs-12">
                    <div class="section-title mb-60">
                        <span class="text-white wow fadeInDown" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInDown;">Discover your branded items</span>
                        <h2 class="text-white wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">Buy and we deliver to your home<br> Always keep the smile.</h2>
                        <p class="text-white wow fadeInUp" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">This is the big promotions on our store,<br> features and commercial license.</p>

                        <div class="button">
                            <a href="#" target="_blank" rel="nofollow" class="btn wow fadeInUp" data-wow-delay=".8s">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Start Shop Home List  -->
    <section class="shop-home-list section">
        {{ render(controller('App\\Controller\\Front\\DefaultController::featureproducts')) }}
    </section>
    <!-- End Shop Home List  -->

    <!-- Start Shop Blog  -->
    <section class="shop-blog section">
        {{ render(controller('App\\Controller\\Front\\BlogController::homeblog')) }}
    </section>
    <!-- End Shop Blog  -->

    <!-- Start Shop Services Area -->
    <section class="shop-services section home">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Start Single Service -->
                    <div class="single-service">
                        <i class="ti-rocket"></i>
                        <h4>Free shiping</h4>
                        <p>Orders over $100</p>
                    </div>
                    <!-- End Single Service -->
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Start Single Service -->
                    <div class="single-service">
                        <i class="ti-reload"></i>
                        <h4>Free Return</h4>
                        <p>Within 30 days returns</p>
                    </div>
                    <!-- End Single Service -->
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Start Single Service -->
                    <div class="single-service">
                        <i class="ti-lock"></i>
                        <h4>Sucure Payment</h4>
                        <p>100% secure payment</p>
                    </div>
                    <!-- End Single Service -->
                </div>
                <div class="col-lg-3 col-md-6 col-12">
                    <!-- Start Single Service -->
                    <div class="single-service">
                        <i class="ti-tag"></i>
                        <h4>Best Peice</h4>
                        <p>Guaranteed price</p>
                    </div>
                    <!-- End Single Service -->
                </div>
            </div>
        </div>
    </section>
    <!-- End Shop Services Area -->

    <!-- Start Shop Newsletter  -->
    <section class="shop-newsletter section">
        <div class="container">
            <div class="inner-top">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2 col-12">
                        <!-- Start Newsletter Inner -->
                        <div class="inner">
                            <h4>Newsletter</h4>
                            <p> Subscribe to our newsletter and get <span>10%</span> off your first purchase</p>
                            <form action=#" method="get" target="_blank" class="newsletter-inner">
                                <input name="EMAIL" placeholder="Your email address" required="" type="email">
                                <button class="btn">Subscribe</button>
                            </form>
                        </div>
                        <!-- End Newsletter Inner -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Shop Newsletter -->
    <form action="https://api.maxicashapp.com/PayEntryPost" method="POST">
        <input type="hidden" name="PayType" value="MaxiCash">
        <input type="hidden" name="Amount" value="100">
        <input type="hidden" name="Currency" value="MaxiDollar">
        <input type="hidden" name="Telephone" value="237675066919">
        <input type="hidden" name="Email" value="rodriguembah13">

        <input type="hidden" name="MerchantID" value="471f1ed4e50c4b0bb65a61fe91ab814a">
        <input type="hidden" name="MerchantPassword" value="0d8915cfcd274bffb42275e83deb8ccc">
        <input type="hidden" name="Language" value="En">
        <input type="hidden" name="Reference" value="15487777">
        <input type="hidden" name="accepturl" value="http://localhost:8000/">
        <input type="hidden" name="cancelurl" value="http://localhost:8000/">
        <input type="hidden" name="declineurl" value="http://localhost:8000/">
        <input type="hidden" name="notifyurl" value="http://localhost:8000/">
        <button type="submit" class="btn btn-primary">subit</button>
    </form>

    <!-- Modal -->
  {#  {{ render(controller('App\\Controller\\Front\\DefaultController::productmodal')) }}#}
    <!-- Modal end -->
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            $('.fancybox-fast-view').click(function () {
                console.log($(this).data('value'))
                $('#input_data').val($(this).data('value'))
                $('#input_data_id').val($(this).data('id'))
                var urlpourcentage = Routing.generate('product_detail', {
                    'slug': $(this).data('value'),
                });
                console.log(urlpourcentage)
            })
            $('#popup-detail').click(function () {
                var urlpourcentage = Routing.generate('product_detail', {
                    'slug': $('#input_data').val(),
                });
                window.open(urlpourcentage,'_parent')
            })
            $('.add-to-cart').click(function () {
                $.ajax({
                    url: "{{ path('add_cart_json') }}",
                    type: "POST",
                    dataType: "JSON",
                    data: {
                        product_id: $('#input_data_id').val(),
                        quantity: $('#product-quantity').val(),
                    },
                    success: function (data) {

                    },
                    error: function (err) {
                        setTimeout(function () {
                            $("#overlay").fadeOut(300);
                        }, 500);
                    }

                });
            })
            $('.product-action-2 a').click(function () {
                $.ajax({
                    url: "{{ path('add_cart_json') }}",
                    type: "POST",
                    dataType: "JSON",
                    data: {
                        product_id: $(this).data('id'),
                        quantity: 1,
                    },
                    success: function (data) {
                        var url = Routing.generate('show_cart');
                        //window.open(url)
                        window.open(url,'_parent');
                       // window.location.reload();
                    },
                    error: function (err) {
                        setTimeout(function () {
                            $("#overlay").fadeOut(300);
                        }, 500);
                    }

                });
            })
        })
    </script>
{% endblock %}
