{% extends 'Front/base.html.twig' %}
{% block title %}
    Shop| Produtcs
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        /* paginations */
        .pagination {
            border-radius: 0;
            margin: 0;
        }
        .pagination > li {
            display: inline-block;
            margin-left: 5px;
        }
        .pagination > li > a, .pagination > li > span,
        .pagination > li:first-child > a, .pagination > li:first-child > span,
        .pagination > li:last-child > a, .pagination > li:last-child > span {
            border-radius: 25px !important;
            border: none;
            color: #868c93;
        }
        .pagination > li > span,
        .pagination > li > span:hover {
            background: #555;
            color: #fff;
        }
        .pagination > li:first-child > a,
        .pagination > li:last-child > a {
            padding: 4px 12px 8px;
        }
    </style>
    <link href="{{ asset('assets/front/pages/css/style-shop.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('assets/front/plugins/fancybox/source/jquery.fancybox.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
    {#<div class="title-wrapper">
        <div class="container"><div class="container-inner">
                <h1><span> {% if category is not null %}{{ category.name }}{% endif %}</span> CATEGORY</h1>
                <em>Over 4000 Items are available here</em>
            </div></div>
    </div>#}
    <!-- Breadcrumbs -->
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="bread-inner">
                        <ul class="bread-list">
                            <li><a href="{{ path('home') }}">Home<i class="ti-arrow-right"></i></a></li>
                            <li class="active"><a
                                        href="{{ path('product_shop') }}">{% if category is not null %}{{ category.name }}{% endif %}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->

    <div class="main">
        <div class="container">
            {#    <ul class="breadcrumb">
                    <li><a href="{{ path('home') }}">Home</a></li>
                    <li><a href="">Store</a></li>
                    <li class="active">{% if category is not null %}{{ category.name }}{% endif %}</li>
                </ul>#}
            <!-- BEGIN SIDEBAR & CONTENT -->
            <div class="row margin-bottom-40">
                <!-- BEGIN SIDEBAR -->
                <div class="main-sidebar col-md-3 col-sm-5">
                    {{ render(controller('App\\Controller\\Front\\DefaultController::categorielist')) }}
                    {#  <ul class="list-group margin-bottom-25 sidebar-menu">
                          {% for category in categories %}
                              <li class="list-group-item clearfix"><a href="{{ path('product_shop',{'t': category.slug }) }}"><i
                                              class="fa fa-angle-right"></i> {{ category.name }}</a></li>
                          {% endfor %}
                      </ul>#}

                    <div class="sidebar-filter margin-bottom-25">
                        <h2>Filter</h2>
                        <h3>Availability</h3>
                        <div class="checkbox-list">
                            <label><input type="checkbox"> Not Available (3)</label>
                            <label><input type="checkbox"> In Stock (26)</label>
                        </div>

                        <h3>Price</h3>
                        <p>
                            <label for="amount">Range:</label>
                            <input type="text" id="amount" style="border:0; color:#f6931f; font-weight:bold;">
                        </p>
                        <div id="slider-range"></div>
                    </div>

                    <div class="shop-home-list section">
                        {{ render(controller('App\\Controller\\Front\\DefaultController::bestseller')) }}
                    </div>
                </div>
                <!-- END SIDEBAR -->
                <!-- BEGIN CONTENT -->
                <div class="col-md-9 col-sm-7">
                    <div class="row list-view-sorting clearfix">
                        <div class="col-md-2 col-sm-2 list-view">
                            <a href="javascript:;"><i class="fa fa-th-large"></i></a>
                            <a href="javascript:;"><i class="fa fa-th-list"></i></a>
                        </div>
                        <div class="col-md-10 col-sm-10">
                            <div class="pull-right">
                                <label class="control-label">Show:</label>
                                <select class="form-control input-md">
                                    <option value="#?limit=24" selected="selected">24</option>
                                    <option value="#?limit=25">25</option>
                                    <option value="#?limit=50">50</option>
                                    <option value="#?limit=75">75</option>
                                    <option value="#?limit=100">100</option>
                                </select>
                            </div>
                            <div class="pull-right">
                                <label class="control-label">Sort&nbsp;By:</label>
                                <select class="form-control input-md">
                                    <option value="#?sort=p.sort_order&amp;order=ASC" selected="selected">Default
                                    </option>
                                    <option value="#?sort=pd.name&amp;order=ASC">Name (A - Z)</option>
                                    <option value="#?sort=pd.name&amp;order=DESC">Name (Z - A)</option>
                                    <option value="#?sort=p.price&amp;order=ASC">Price (Low &gt; High)</option>
                                    <option value="#?sort=p.price&amp;order=DESC">Price (High &gt; Low)</option>
                                    <option value="#?sort=rating&amp;order=DESC">Rating (Highest)</option>
                                    <option value="#?sort=rating&amp;order=ASC">Rating (Lowest)</option>
                                    <option value="#?sort=p.model&amp;order=ASC">Model (A - Z)</option>
                                    <option value="#?sort=p.model&amp;order=DESC">Model (Z - A)</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- BEGIN PRODUCT LIST -->
                    <div class="row product-list">
                        <!-- PRODUCT ITEM START -->
                        {% for prod in products %}
                            <div class="col-md-4 col-sm-6 col-xs-12 mb-3">
                                <div class="single-product">
                                    <div class="product-img">
                                        <a href="{{ path('product_detail', {'slug': prod.slug }) }}">
                                            <img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
                                            <img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
                                            <span class="out-of-stock">Hot</span>
                                        </a>
                                        <div class="button-head">
                                            <div class="product-action">
                                                <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
                                                <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
                                                <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
                                            </div>
                                            <div class="product-action-2">
                                                <a title="Add to cart" href="javascript:;" data-id="{{ prod.id }}">Add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-content">
                                        <h3><a href="{{ path('product_detail', {'slug': prod.slug }) }}">Black Sunglass For Women</a></h3>
                                        <div class="product-price">
                                            <span class="old">${{ prod.price }}</span>
                                            <span>${{ prod.price }}</span>
                                        </div>
                                    </div>
                                </div>
                               {# <div class="product-item">
                                    <div class="pi-img-wrapper">
                                        <img src="{{ asset('' ~ prod.image)  | imagine_filter('product_cat') }}"
                                             class="img-responsive" alt="Berry Lace Dress">
                                        <div>
                                            <a href="{{ asset('' ~ prod.image) }}"
                                               class="btn btn-default fancybox-button">Zoom</a>
                                            <a href="#product-pop-up" class="btn btn-default fancybox-fast-view"
                                               data-id="{{ prod.id }}" data-value="{{ prod.slug }}">View</a>
                                        </div>
                                    </div>
                                    <h3><a href="{{ path('product_detail', {'slug': prod.slug }) }}">{{ prod.name }}</a>
                                    </h3>
                                    <div class="pi-price">${{ prod.price }}.00</div>
                                    <a href="javascript:;" class="btn btn-default add2cart" data-id="{{ prod.id }}">Add
                                        to cart</a>
                                </div>#}
                            </div>
                        {% endfor %}
                        <!-- PRODUCT ITEM END -->

                    </div>
                    <!-- END PRODUCT LIST -->
                    <!-- BEGIN PAGINATOR -->
                    <div class="row">
                        <div class="col-md-4 col-sm-4 items-info">Items 1 to 9 of 10 total</div>
                        <div class="col-md-8 col-sm-8">
                            <ul class="pagination pull-right">
                                <li><a href="javascript:;">&laquo;</a></li>
                                <li><a href="javascript:;">1</a></li>
                                <li><span>2</span></li>
                                <li><a href="javascript:;">3</a></li>
                                <li><a href="javascript:;">4</a></li>
                                <li><a href="javascript:;">5</a></li>
                                <li><a href="javascript:;">&raquo;</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- END PAGINATOR -->
                </div>
                <!-- END CONTENT -->
            </div>
            <!-- END SIDEBAR & CONTENT -->
        </div>
    </div>

    <!-- Modal -->
    {{ render(controller('App\\Controller\\Front\\DefaultController::productmodal')) }}
    <!-- Modal end -->
    <input type="hidden" id="input_data">
    <input type="hidden" id="input_data_id">
    <!-- END fast view of a product -->
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script>
        $(function () {
            $('.fancybox-fast-view').click(function () {
                console.log($(this).data('value'))
                $('#input_data').val($(this).data('value'))
                $('#input_data_id').val($(this).data('id'))
                var urlpourcentage = Routing.generate('product_detail', {
                    'slug': $(this).data('value'),
                });
                console.log(urlpourcentage)
            })
            $('#popup-detail').click(function () {
                var urlpourcentage = Routing.generate('product_detail', {
                    'slug': $('#input_data').val(),
                });
                window.open(urlpourcentage, '_parent')
            })
            $('.product-action a').click(function () {
                $.ajax({
                    url: "{{ path('add_cart_json') }}",
                    type: "POST",
                    dataType: "JSON",
                    data: {
                        product_id: $('#input_data_id').val(),
                        quantity: $('#product-quantity').val(),
                    },
                    success: function (data) {
                        window.location.reload();
                    },
                    error: function (err) {
                        setTimeout(function () {
                            $("#overlay").fadeOut(300);
                        }, 500);
                    }

                });
            })
            $('.product-action-2 a').click(function () {
                $.ajax({
                    url: "{{ path('add_cart_json') }}",
                    type: "POST",
                    dataType: "JSON",
                    data: {
                        product_id: $(this).data('id'),
                        quantity: 1,
                    },
                    success: function (data) {
                        window.location.reload();
                    },
                    error: function (err) {
                        setTimeout(function () {
                            $("#overlay").fadeOut(300);
                        }, 500);
                    }

                });
            })
        })
    </script>
{% endblock %}



