{% extends 'Front/base.html.twig' %}
{% block title %}
    Shop|{{ product.name }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/front/pages/css/style-shop.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('assets/front/plugins/fancybox/source/jquery.fancybox.css') }}" rel="stylesheet">
    <style type="text/css">
        .vendor {
            margin-bottom: 15px;
            margin-top: 15px;
        }
    </style>
{% endblock %}
{% block body %}
    <!-- Breadcrumbs -->
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="bread-inner">
                        <ul class="bread-list">
                            <li><a href="{{ path('home') }}">Home<i class="ti-arrow-right"></i></a></li>
                            <li class="active"><a href="#">Order detail</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->
    <section id="contact-us" class="contact-us section">
        <div class="">
            <div class="container">
                <!-- BEGIN SIDEBAR & CONTENT -->
                <div class="row margin-bottom-40">
                    <!-- BEGIN SIDEBAR -->
                    <div class="sidebar col-md-3 col-sm-5">
                        <div class="main-sidebar">
                            <div class="single-widget category">
                                {{ render(controller('App\\Controller\\Front\\DefaultController::categorielist')) }}
                            </div>
                        </div>
                            <div class="single-widget category shop-home-list section">
                                {{ render(controller('App\\Controller\\Front\\DefaultController::bestseller')) }}

                        </div>
                    </div>
                    <!-- END SIDEBAR -->

                    <!-- BEGIN CONTENT -->
                    <div class="col-md-9 col-sm-7">
                        <div class="product-page">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="product-main-image">
                                        <img src="{{ asset('' ~ image ) }}"
                                             alt="Cool green dress with red bell" class="img-responsive"
                                             data-BigImgsrc="{{ asset('' ~ image) }}">
                                    </div>
                                    <div class="product-other-images">
                                        {% for im in product.images %}
                                            <a href="{{ asset('' ~ im.src) }}"
                                               class="fancybox-button" rel="photos-lib">
                                                <img alt="Berry Lace Dress" src="{{ asset('' ~ im.src) }}"></a>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <h3 class="mt-3 mb-3">{{ product.name }}</h3>
                                    <div class="price-availability-block clearfix">
                                        <div class="price">
                                            <strong><span>$</span>{{ product.salePrice }}.00</strong>
                                            <em>$<span>{{ product.regularPrice }}.00</span></em>
                                        </div>
                                        <div class="availability">
                                            Availability: {% if product.inStock %}<strong>In Stock</strong>{% else %}
                                                <strong>Out Stock</strong>{% endif %}
                                        </div>
                                    </div>
                                    <div class="description">
                                        <p>{{ product.shortDescription }}</p>
                                    </div>
                                    <div class="vendor">
                                        <h5>Seller: <a
                                                    href="{{ path('shop_page', {'slug': product.shop.slug }) }}">{{ product.shop.name }}</a>
                                        </h5>

                                    </div>

                                    <div class="product-page-cart">
                                        <div class="product-quantity">
                                            <input id="product-quantity" type="text" value="1" readonly
                                                   class="form-control input-sm">
                                        </div>
                                        <button class="btn btn-primary add-to-cart" type="button">Add to cart</button>
                                    </div>
                                    <div class="review">
                                        <input type="range" value="4" step="0.25" id="backing4">
                                        <div class="rateit" data-rateit-backingfld="#backing4"
                                             data-rateit-resetable="false"
                                             data-rateit-ispreset="true" data-rateit-min="0" data-rateit-max="5">
                                        </div>
                                        <a href="javascript:;">7 reviews</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a
                                                href="javascript:;">Write
                                            a review</a>
                                    </div>
                                    <ul class="social-icons">
                                        <li><a class="facebook" data-original-title="facebook" href="javascript:;"></a>
                                        </li>
                                        <li><a class="twitter" data-original-title="twitter" href="javascript:;"></a>
                                        </li>
                                        <li><a class="googleplus" data-original-title="googleplus"
                                               href="javascript:;"></a>
                                        </li>
                                        <li><a class="evernote" data-original-title="evernote" href="javascript:;"></a>
                                        </li>
                                        <li><a class="tumblr" data-original-title="tumblr" href="javascript:;"></a></li>
                                    </ul>
                                </div>
                                <div class="product-info">
                                    <div class="nav-main">
                                        <!-- Tab Nav -->
                                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                                            <li class="nav-item"><a class="nav-link active" data-toggle="tab"
                                                                    href="#description" role="tab">Description</a></li>
                                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#option"
                                                                    role="tab">Options</a></li>
                                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#review"
                                                                    role="tab">Reviews</a></li>
                                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#comment"
                                                                    role="tab">Comments</a></li>
                                        </ul>
                                        <!--/ End Tab Nav -->
                                    </div>
                                    <div class="tab-content" id="myTabContent">
                                        <!-- Start Single Tab -->
                                        <div class="tab-pane fade show active" id="description" role="tabpanel">
                                            <div class="tab-single">
                                                <p>Description</p>
                                            </div>
                                        </div>
                                        <!-- Start Single Tab -->
                                        <div class="tab-pane fade" id="option" role="tabpanel">
                                            <div class="tab-single">
                                                <p>Option</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="sticker sticker-sale"></div>
                            </div>
                        </div>
                    </div>
                    <!-- END CONTENT -->
                </div>
                <!-- END SIDEBAR & CONTENT -->

                <div class="product-area most-popular section">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="section-title">
                                    <h2>Popular products</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="owl-carousel popular-slider">
                                    {{ render(controller('App\\Controller\\Front\\DefaultController::popularproduct')) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Modal -->
    {{ render(controller('App\\Controller\\Front\\DefaultController::productmodal')) }}
    <!-- Modal end -->
    <input type="hidden" id="input_data">
    <input type="hidden" id="input_data_id" value="{{ product.id }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/front/plugins/fancybox/source/jquery.fancybox.pack.js') }}"
            type="text/javascript"></script><!-- pop up -->
    <script src='{{ asset('assets/front/plugins/zoom/jquery.zoom.min.js') }}'
            type="text/javascript"></script><!-- product zoom -->
    <script src="{{ asset('assets/front/plugins/bootstrap-touchspin/bootstrap.touchspin.min.js') }}"
            type="text/javascript"></script><!-- Quantity -->
    <script src="{{ asset('assets/front/corporate/scripts/layout.js') }}" type="text/javascript"></script>

    <script type="text/javascript">
        jQuery(document).ready(function () {
            Layout.init();
            Layout.initOWL();
            Layout.initImageZoom();
            Layout.initTouchspin();
            Layout.initTwitter();

            Layout.initFixHeaderWithPreHeader();
            Layout.initNavScrolling();
        });
    </script>
    <script>
        $(function () {
            $('.product-action-2 a').click(function () {
                console.log($(this).data('value'))
                $('#input_data').val($(this).data('value'))
                $('#input_data_id').val($(this).data('id'))
            })
            $('#popup-detail').click(function () {
                var urlpourcentage = Routing.generate('product_detail', {
                    'slug': $('#input_data').val(),
                });
                window.open(urlpourcentage, '_parent')
            })
            $('.add-to-cart').click(function () {
                $.ajax({
                    url: "{{ path('add_cart_json') }}",
                    type: "POST",
                    dataType: "JSON",
                    data: {
                        product_id: $('#input_data_id').val(),
                        quantity: $('#product-quantity').val(),
                    },
                    success: function (data) {
                        var url = Routing.generate('show_cart');
                        //window.open(url)
                        window.open(url, '_parent');
                    },
                    error: function (err) {
                        setTimeout(function () {
                            $("#overlay").fadeOut(300);
                        }, 500);
                    }

                });
            })
            $('.add2cart').click(function () {
                $.ajax({
                    url: "{{ path('add_cart_json') }}",
                    type: "POST",
                    dataType: "JSON",
                    data: {
                        product_id: $(this).data('id'),
                        quantity: 1,
                    },
                    success: function (data) {
                        window.location.reload();
                    },
                    error: function (err) {
                        setTimeout(function () {
                            $("#overlay").fadeOut(300);
                        }, 500);
                    }

                });
            })
        })
    </script>
{% endblock %}

