<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}AGENSIC{% endblock %}</title>
    {% block stylesheets %}
        <!-- Css Styles -->
        <!-- Fonts END -->


        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}">
        <!-- Magnific Popup -->
        <link rel="stylesheet" href="{{ asset('assets/css/magnific-popup.min.css') }}">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="{{ asset('assets/css/font-awesome.css') }}">
        <!-- Fancybox -->
        <link rel="stylesheet" href="{{ asset('assets/css/jquery.fancybox.min.css') }}">
        <!-- Themify Icons -->
        <link rel="stylesheet" href="{{ asset('assets/css/themify-icons.css') }}">
        <!-- Nice Select CSS -->
        <link rel="stylesheet" href="{{ asset('assets/css/niceselect.css') }}">
        <!-- Animate CSS -->
        <link rel="stylesheet" href="{{ asset('assets/css/animate.css') }}">
        <!-- Flex Slider CSS -->
        <link rel="stylesheet" href="{{ asset('assets/css/flex-slider.min.css') }}">
        <!-- Owl Carousel -->
        <link rel="stylesheet" href="{{ asset('assets/css/owl-carousel.css') }}">
        <!-- Slicknav -->
        <link rel="stylesheet" href="{{ asset('assets/css/slicknav.min.css') }}">

        <!-- Eshop StyleSheet -->
        <link rel="stylesheet" href="{{ asset('assets/css/reset.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/responsive.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/app.css') }}">
        <!-- Theme styles END -->
    {% endblock %}


</head>
<body class="js">
    {% include 'Front/_partials/header.html.twig' %}
    {% block body %}

    {% endblock %}
    {% include 'Front/_partials/_quick_view.html.twig' %}
    {% include 'Front/_partials/javascript.html.twig' %}
    {% include 'Front/_partials/footer.html.twig' %}

{% block javascripts %}
    <!-- Jquery -->
    <script src="{{ asset('assets/front/plugins/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/js/magnific-popup.js') }}"></script>
    <script src="{{ asset('assets/js/jquery-ui.min.js') }}"></script>
    <!-- Popper JS -->
    <script src="{{ asset('assets/js/popper.min.js') }}"></script>
    <!-- Bootstrap JS -->
    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    <!-- Color JS -->
    <!-- Slicknav JS -->
    <script src="{{ asset('assets/js/slicknav.min.js') }}"></script>
    <!-- Owl Carousel JS -->
    <script src="{{ asset('assets/js/owl-carousel.js') }}"></script>
    <!-- Magnific Popup JS -->
    <script src="{{ asset('assets/js/magnific-popup.js') }}"></script>
    <!-- Waypoints JS -->
    <script src="{{ asset('assets/js/waypoints.min.js') }}"></script>
    <!-- Countdown JS -->
    <script src="{{ asset('assets/js/finalcountdown.min.js') }}"></script>
    <!-- Nice Select JS -->
    <script src="{{ asset('assets/js/nicesellect.js') }}"></script>
    <!-- Flex Slider JS -->
    <script src="{{ asset('assets/js/flex-slider.js') }}"></script>
    <!-- ScrollUp JS -->
    <script src="{{ asset('assets/js/scrollup.js') }}"></script>
    <!-- Onepage Nav JS -->
    <script src="{{ asset('assets/js/onepage-nav.min.js') }}"></script>
    <!-- Easing JS -->
    <script src="{{ asset('assets/js/easing.js') }}"></script>
    <!-- Active JS -->
    <script src="{{ asset('assets/js/active.js') }}"></script>
    <script src="{{ asset('js/quick_view_modal.js') }}"></script>

    <!-- END PAGE LEVEL JAVASCRIPTS -->
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ asset('js/fos_js_routes.js') }}"></script>
    <script>
        $('.add-to-cart').click(function () {
            console.log( $(this).data('value'))

            $.ajax({
                url: "{{ path('add_cart_json') }}",
                type: "POST",
                dataType: "JSON",
                data: {
                    product_id: $("#quick_prod_id").val(),
                    quantity: $("#quick_qty").val(),
                },
                success: function (data) {
                    var url = Routing.generate('show_cart');
                    //window.open(url)
                    window.open(url, '_parent');
                },
                error: function (err) {
                    setTimeout(function () {
                        $("#overlay").fadeOut(300);
                    }, 500);
                }

            });
        })
        $("._modal").click(function () {
            var product = $(this).data("id");
            $('#quick_prod_id').val(product)
            $.ajax({
                url: "{{ path('quick_view_ajax') }}",
                type: "POST",
                dataType: "JSON",
                data: {
                    product_id: product,
                },
                success: function (data) {
                    $('#quick_name').text(data.name);
                    $('#quick_price').text(data.price);
                    $('#quick_description').text(data.description);
                    $('#quick_img').attr('src',data.image);
                    $('#exampleModal').modal('show');
                },
                error: function (err) {
                    setTimeout(function () {
                        $("#overlay").fadeOut(300);
                    }, 500);
                }

            });
        })
    </script>
{% endblock %}
</body>
</html>
